@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-body: var(--font-inter);

  /* DGC Live Brand Colors */
  --color-brand-purple: #9D00FF;
  --color-brand-dark: #12001F;
  --color-brand-card: #1A0B2E;
  --color-brand-gold: #FFD700;
  --color-brand-magenta: #D90368;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #12001F;
    /* Deep Purple Background */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
}